<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
      	<title th:text="'Codebattles - ' + ${title}"></title>
    		<th:block th:replace="fragments/head"></th:block>
  </head>
  <body>
  	<th:block th:replace="fragments/headernav"></th:block>
  	<div class="row justify-content-center mt-3">
  		<th:block th:replace="@{${viewName}} :: common(data=${data})"></th:block>
  	</div>
  	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="/libs/rainbow/index.js"></script>
  </body>
</html>