<form th:action="@{/register}" method="post" th:object="${user}" autocomplete="off">
	<legend class="text-center">Register</legend>
	<label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
								class="alert alert-danger"></label>
	<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="alert alert-danger"></label>
	<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="alert alert-danger"></label>
	<th:block th:replace="fragments/form/xinput (type='text', id='username-field', placeholder='Enter username', label='Username', name='username')"></th:block>
	
  	<th:block th:replace="fragments/form/xinput (type='email', id='email-field', placeholder='Enter email', label='Email address', name='email')"></th:block>
  	<!-- <th:block th:replace="fragments/form/xinput (type='email', id='repeat-email-field', placeholder='Enter email again', label='Repeat email address', name='repeatEmail')"></th:block> -->
  	<th:block th:replace="fragments/form/xinput (type='password', id='password-field', placeholder='Enter password', label='Password', name='password')"></th:block>
  	<!-- <th:block th:replace="fragments/form/xinput (type='password', id='repeat-password-field', placeholder='Repeat password', label='Repeat password', name='repeatPassword')"></th:block> -->
  	<button type="submit" class="btn btn-primary">Register</button>
</form>