<div th:fragment="problemtable(data)">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Solved by x people</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="problem, iter : ${data}">
				<td th:classappend="${solvedProblems != null && solvedProblems.contains(problem.id) ? 'bg-success' : ''}" scope="row" th:text="${iter.index + 1}"></td>
			    <td>
			    		<a th:href="@{'/practice/' + ${problem.id}}" th:text="${problem.name}"></a>
			    </td>
			    <td th:text="${problem.solvedCount}"></td>
			</tr>
		</tbody>
	</table>
</div>