<div th:fragment="usertable">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Username</th>
				<th scope="col">Email</th>
				<th scope="col">Rating</th>
				<th:block th:if="${isAdmin && viewName == 'dashboard'}">
					<th scope="col">Roles</th>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col"></th>
				</th:block>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user, iter : ${data}">
				<th scope="row" th:text="${isAdmin ? user.id : (iter.index + 1)}"></th>
			    <td th:text="${user.username}"></td>
			    <td th:text="${user.email}"></td>
			    <td th:text="${user.rating}"></td>
			    <th:block th:if="${isAdmin && viewName == 'dashboard'}">
				    <td th:if="${userRoles != null}" th:text="${#strings.listJoin(userRoles[iter.index], ',')}"></td>
				    <td>
				    		<form th:action="@{'/dashboard/user/delete/' + ${user.id}}" method="POST">
				    			<button th:if="${!user.isAdmin()}" class="btn btn-danger">Delete</button>
				    		</form>
				    	</td>
				    <td th:if="${!user.id.equals(currentUserId)}">
				    		<form th:action="@{'/dashboard/user/promote/' + ${user.id}}" method="POST">
				    			<button class="btn btn-success" th:disabled="${user.isAdmin()}" type="submit">Promote</button>
				    		</form>
				    	</td>
				    <td th:if="${!user.id.equals(currentUserId)}">
				    		<form th:action="@{'/dashboard/user/demote/' + ${user.id}}" method="POST">
				    			<button class="btn btn-warning" th:disabled="${!user.isAdmin()}">Demote</button>
				    		</form>
				    	</td>
				</th:block>
			</tr>
		</tbody>
	</table>
</div>