<div th:fragment="usertable">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Username</th>
				<th scope="col">Email</th>
				<th scope="col">Rating</th>
				<th scope="col" th:if="${isAdmin && userRoles != null}">Roles</th>
				<th scope="col" th:if="${isAdmin}"></th>
				<th scope="col" th:if="${isAdmin}"></th>
				<th scope="col" th:if="${isAdmin}"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user, iter : ${data}">
				<th scope="row" th:text="${isAdmin ? user.id : (iter.index + 1)}"></th>
			    <td th:text="${user.username}"></td>
			    <td th:text="${user.email}"></td>
			    <td th:text="${user.rating}"></td>
			    <td th:if="${isAdmin && userRoles != null}" th:text="${#strings.listJoin(userRoles[iter.index], ',')}"></td>
			    <td th:if="${isAdmin}"><button th:if="${!user.isAdmin()}" class="btn btn-danger">Delete</button></td>
			    <td th:if="${isAdmin}">
			    		<form th:action="@{'/dashboard/user/promote/' + ${user.id}}" method="POST">
			    			<button class="btn btn-success" th:disabled="${user.isAdmin()}" type="submit">Promote</button>
			    		</form>
			    	</td>
			    <td th:if="${isAdmin}">
			    		<form th:action="@{'/dashboard/user/demote/' + ${user.id}}" method="POST">
			    			<button class="btn btn-warning" th:disabled="${!user.isAdmin()}">Demote</button>
			    		</form>
			    	</td>
			</tr>
		</tbody>
	</table>
</div>