<p><strong>Input</strong></p>
	<p>Input will be passed via command line arguments:</p>
	<pre>
		<code data-language="java">
public static void main(String[] args) {    
    // write your solution here
    
    String firstArg = args[0] // 3
    String secondArg = args[1] // 5
 }
		</code>
	</pre>
	
	<p><strong>Output</strong></p>
	<p>Write your solution result using System.out.println:</p>
	<pre>
		<code data-language="java">
public static void main(String[] args) {    
    // write your solution here
    
    String firstArg = args[0]; // 3
    String secondArg = args[1]; // 5
    
    System.out.println(firstArg + secondArg);
 }
		</code>
	</pre>	