<form th:fragment="common(data)" th:object="${data}" class="col-6" id="add-problem-form">
	<th:block th:replace="fragments/form/xinput (type='text', id='name-field', placeholder='Enter problem name', label='Name', name='name')"></th:block>
	
	<div class="form-group">
   		<label for="description">Description</label>
    		<textarea class="form-control" name="description" id="description" rows="8"></textarea>
 	</div>
 	
 	<th:block th:replace="fragments/form/xinput (type='number', id='points-field', placeholder='Enter points reward', label='Points', name='points')"></th:block>
 	
 	<div class="row">
 		<div class="form-group col-6" th:each="i : ${#numbers.sequence(0, 9)}">
		 	<div th:if="${i % 2 == 0}">
		 		<div class="form-group">
				 	<label th:for="${'input-' + i}" th:text="Input"></label>
				  	<input th:type="text" th:name="input" class="form-control" th:id="${'input-' + i}" placeholder="Input data" required />
				</div>
		 	</div>
		 	<div th:if="${i % 2 != 0}">
		 		<div class="form-group">
				 	<label th:for="${'output-' + (i - 1)}" th:text="Output"></label>
				  	<input th:type="text" th:name="output" class="form-control" th:id="${'output-' + (i - 1)}" placeholder="Output data" required />
				</div>
		 	</div>
		</div>
 	</div>
 	<div class="form-group text-center">
 		<button type="button" id="submit-form-btn" class="btn btn-primary">Save</button>
 	</div>
 	<script>
 		// <![CDATA[
 			let btn = document.getElementById('submit-form-btn')
 			
 			btn.addEventListener('click', onFormSubmit)
 			
 			function onFormSubmit(e) {
 				let nameFieldValue = document.getElementById('name-field').value
 				let descFieldValue = document.getElementById('description').value
 				let pointsFieldValue = document.getElementById('points-field').value
 				let inputOutputs = []
 				
 				for (let i = 0; i <= 8; i+=2) {
 					let inputValue = document.getElementById(`input-${i}`).value
 					let outputValue = document.getElementById(`output-${i}`).value
 					
 					inputOutputs.push({inputValue, outputValue})
 				}
 				
 				let isValid = nameFieldValue && descFieldValue && pointsFieldValue
 				
 				inputOutputs.forEach(io => io.inputValue && io.outputValue ? io : isValid = false)
 				
 				if (!isValid) {
 					alert('Please fill all fields')
 				} else {
 					let backendPackage = {
 						name: nameFieldValue,
 						description: descFieldValue,
 						points: pointsFieldValue,
 						inputOutputs
 					}
 					
 					$.ajax({
 						url: '/dashboard/problem/create',
 						method: 'POST',
 						data: JSON.stringify(backendPackage),
 						contentType: 'application/json'
 					})
 				}
 			}
 		// ]]>
 	</script>
</form>