<div th:fragment="common(data)" class="col-8">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Users</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Problems</a>
	  </li>
	</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  	<th:block th:replace="fragments/tables/usertable :: usertable(data=${data.users}, isAdmin=true, userRoles=${data.userRoles}, currentUserId=${data.currentUserId})"></th:block>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  	<a th:href="@{/dashboard/problem/create}" class="btn btn-primary btn-lg active m-3" role="button" aria-pressed="true">Add Problem</a>
  	<th:block th:replace="fragments/tables/problemtable :: problemtable(data=${data.problems})"></th:block>
  </div>
</div>
</div>